body {
  font-family: Arial, sans-serif;
  text-align: center;
  font-size: 22px;
  overflow: hidden;
  margin: 0px;
  padding: 0px;
}
.percent {
  color: rgb(255, 207, 207);
  text-shadow: 1px 1px 2px rgb(0, 0, 0);
  font-size: 30px;
  font-weight: 550;
}
label {
  color: white;
  text-shadow: 1px 1px 2px rgb(0, 0, 0);
}
h2 {
  font-size: 50px;
  margin-bottom: 20px;
  color: rgb(255, 255, 255);
  text-shadow: 2px 2px 3px rgb(0, 0, 0);
}
.backGround {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  filter: blur(4px);
  z-index: -1;
  object-position: -50px center;
  transform-origin: center;
  transform: scale(1.1);
}

#timer {
  font-size: 30px;
  font-weight: bold;
  margin-top: 25px;
  color: white;
  text-shadow: 1px 1px 1px black;
}
.checkbox-group {
  margin-bottom: 20px;
}
.progress-container {
  width: 300px;
  height: 20px;
  background: #ffffff;
  border-radius: 10px;
  overflow: hidden;
  margin: 20px;
}

.progress-bar {
  width: 0%;
  height: 100%;
  background: #ffbdef;
  transition: width 0.3s;
}
.center {
  position: absolute;
  top: 50%;
  left: 75%;
  transform: translate(-50%, -50%);
}
